<app-header></app-header>
<div class="job-item p-4 mb-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-8 d-flex align-items-center">
            <img class="flex-shrink-0 img-fluid border rounded" src="../../../assets/images/robinet.png" alt="" style="width: 80px; height: 80px;">
            <div class="text-start ps-4">
                <h5 class="mb-3">offre de travail plombier</h5>
                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-4"></i>Rewa, INDIA</span>
                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-4"></i>Full Time</span>
                <span class="text-truncate me-3"><i class="far fa-money-bill-alt text-primary me-4"></i>$123 - $456</span>
            </div>
        </div>
       
    </div>
</div>

