<div class="new-users">
    <h2>New Users</h2>
    <div class="user-list">
        <div class="user">
            <img src="../../assets/images/profile-1.jpg">
            <h2>Seifeddine</h2>
            <p>54 Min Ago</p>
        </div>
        <div class="user">
            <img src="../../assets/images/profile-3.jpg">
            <h2>Seifeddine</h2>
            <p>3 Hours Ago</p>
        </div>
        <div class="user">
            <img src="../../assets/images/profile-4.jpg">
            <h2>Seifeddine</h2>
            <p>6 Hours Ago</p>
        </div>
        <div class="user">
            <img src="../../assets/images/plus.png">
            <h2>More</h2>
            <p>New User</p>
        </div>
    </div>
    
</div>