<div class="body">
    <div class="card">
    <button class="mail">
            <i class="fa-solid fa-envelope"></i>
        </button>
    <div class="profile-pic">
    </div>
    <div class="bottom">
        <div class="content">
            <span class="name">Vikas</span>
            <span class="about-me">Hi, I am vikas. I am a full stack web developer. Checkout my work on : https://freecodez.com</span>
        </div>
        <div class="bottom-bottom">
            <div class="social-links-container">
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-github"></i>
            </div>
            <button class="button">Contact Me</button>
        </div>
    </div>
</div>
</div>
