<div>
  <a href="" class="nav-item nav-link" [routerLink]="['/touslestechniciens']">
    <button id="chatButton" style="background-color: #31668a;">
      <div class="card-header d-flex justify-content-between align-items-center p-2">
        <img src="../../assets/home/img/robot.gif" alt="Chat Icon" class="chat-icon">
        <h5 class="mb-0" style="font-size: 15px; font-weight: bold;">Consulter tous nos techniciens</h5>
        <div class="d-flex flex-row align-items-center">
          <i (click)="closeChat()" class="fas fa-times text-muted fa-xs p-2"></i>
        </div>
      </div>
    </button>
  </a>
</div>
