
/* Button to trigger the chat */
#chatButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  padding: 10px 20px;
  cursor: pointer;
  animation: fadeInOutButton 2s infinite; /* Utilisation de l'animation définie ci-dessus */
  background: linear-gradient(45deg, #4a90e2, #31668a);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 20px rgba(52, 152, 219, 0.5);

}

/* Chat popup container */
.chatPopup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadeInOut 1s infinite alternate; /* Ajout de l'animation */
}

@keyframes fadeInOutButton {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.chat-icon {
  width: 60px; /* Ajustez la taille selon vos besoins */
  height: 60px; /* Ajustez la taille selon vos besoins */
  margin-right: 10px; /* Ajustez la marge selon vos besoins */
}
/* Styles pour l'élément h5 */
h5 {
  font-size: 5px;
  font-weight: bold;

}
