
<app-header></app-header>
   
<app-videoclient-component></app-videoclient-component>

  <div class="technicienmain-container01" style="background-color:rgba(211, 207, 207, 0.151);">
    
    <div class="technicienmain-sidebar shadow" style="background-image: url('../../../assets/home/img/hg1.jpg');background-size: cover; background-position: center; background-repeat: no-repeat;">
     
         
      
     
      <div class="scrolling-banner">
        <div class="yo">
            <span>Welcome to our platform ARTUN </span>
            <img src="../../../assets/home/img/R.gif" alt="Image 1" style="height: 20px ;width: 40px;">
           
            
        </div>
    </div>
      
    </div>
    
    <div class="technicienmain-container09">
      <div class="technicienmain-container15">


        <div class="job-item p-4 mb-4">
          <div class="row g-4">
              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                  <img class="flex-shrink-0 img-fluid border rounded" src="../../../assets/images/robinet.png" alt="" style="width: 80px; height: 80px;">
                  <div class="text-start ps-4">
                      <h5 class="mb-3">Je fais face à une situation urgente à la maison : mon robinet vient de se casser, et l'eau coule partout. C'est une situation assez critique et j'ai besoin de l'aide d'un plombier compétent le plus rapidement possible.</h5>
                      <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-4"></i>Rewa, INDIA</span>
                      <span class="text-truncate me-3"><i class="far fa-clock text-primary me-4"></i>Full Time</span>
                      <span class="text-truncate me-3"><i class="far fa-money-bill-alt text-primary me-4"></i>$123 - $456</span>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                <div class="d-flex mb-3">
                  <a class="btn btn-primary" [routerLink]="['/demandeClient', yourIdVariable]">
                    <img src="../../../assets/home/img/R (1).gif" alt="Description de l'image" class="ml-2" style="height: 20px;width: 20px;">
                      Show
                      
                  </a>
              </div>
              
                  <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-4"></i>Date Line: 01 Jan, 2045</small>
                  <div class="technicienmain-options3">
                      <div class="technicienmain-container04">
            
                      </div>
                    </div>
              </div>
          </div>
          
      </div>
      <div class="technicienmain-container15">


        <div class="job-item p-4 mb-4">
          <div class="row g-4">
              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                  <img class="flex-shrink-0 img-fluid border rounded" src="../../../assets/images/robinet.png" alt="" style="width: 80px; height: 80px;">
                  <div class="text-start ps-4">
                      <h5 class="mb-3">a la recherhce d un plombier  j ai une robinet cassé je cherche un technicine doué et professionnele  pour courriger cette fisure je vous remerci et a bientot bibity mon amour </h5>
                      <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-4"></i>Rewa, INDIA</span>
                      <span class="text-truncate me-3"><i class="far fa-clock text-primary me-4"></i>Full Time</span>
                      <span class="text-truncate me-3"><i class="far fa-money-bill-alt text-primary me-4"></i>$123 - $456</span>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                <a class="btn btn-primary" [routerLink]="['/demandeClient', yourIdVariable]">
                  <img src="../../../assets/home/img/R (1).gif" alt="Description de l'image" class="ml-2" style="height: 20px;width: 20px;">
                    Show</a>
                  <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-4"></i>Date Line: 01 Jan, 2045</small>
                  <div class="technicienmain-options3">
                      <div class="technicienmain-container04">
            
                      </div>
                    </div>
              </div>
          </div>
          
      </div>
      </div>


      
    </div>



 <app-chat-popup></app-chat-popup>

    
  </div>