<div class="recent-orders">
    <h2>Recent services</h2>
    <table>
      <thead>
        <tr>
          <th>services category</th>
          <th>service Number</th>
          <th>Payment</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>azer</td>
          <td>azer</td>
          <td>azer</td>
          <td >azer</td>
          <td class="primary">Details</td>
        </tr>
      </tbody>
    </table>
    <a href="#">Show All</a>
  </div>