<aside>
    <div class="toggle">
      <div class="logo">
        <img src="../../assets/images/logo.png" alt="Logo">
        <h2>Artun<span class="danger">Services</span></h2>
      </div>
      <div class="close" id="close-btn">
        <span class="material-icons-sharp">close</span>
      </div>
    </div>
  
    <div class="sidebar">

                     <a routerLink="/dashboard" id="dashboard-link">
                     <span class="material-icons-sharp">dashboard</span>
                     <h3>Dashboard</h3>
                     </a>

                     <a routerLink="/users" id="users-link">
                     <span class="material-icons-sharp">person_outline</span>
                     <h3>Users</h3>
                     </a>

                    <a routerLink="/History" id="History-link">
                        <span class="material-icons-sharp">
                            receipt_long
                        </span>
                        <h3>History</h3>
                    </a>
                    <a routerLink="/Analytics" id="Analytics-link">
                        <span class="material-icons-sharp">
                            insights
                        </span>
                        <h3>Analytics</h3>
                    </a>
                    <a routerLink="/Categories" id="Categories-link">
                        <span class="material-icons-sharp">
                            menu
                        </span>
                        <h3>Categories</h3>
                        <span class="message-count">27</span>
                    </a>
                    <a routerLink="/Services" id="Services-link">
                        <span class="material-icons-sharp">
                            inventory
                        </span>
                        <h3>Services List</h3>
                    </a>
                    <a routerLink="/Reports" id="Reports-link">
                        <span class="material-icons-sharp">
                            report_gmailerrorred
                        </span>
                        <h3>Reports</h3>
                    </a>
                    <a routerLink="/Settings" id="Settings-link">
                        <span class="material-icons-sharp">
                            settings
                        </span>
                        <h3>Settings</h3>
                    </a>
                    <a routerLink="/Login" id="Login-link">
                        <span class="material-icons-sharp">
                            add
                        </span>
                        <h3>New Login</h3>
                    </a>
                    <a href="#" id="logout-link">
                        <span class="material-icons-sharp">
                            logout
                        </span>
                        <h3>Logout</h3>
                    </a>
                </div>
            </aside>